body {
    font-family: "Open Sans", Georgia, Cambria, Times, "Times New Roman", serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    margin-bottom: 50px;
    /*background-color: rgba(153, 218, 255, 0.05);*/
    /*font-display: swap;*/
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}


.container {
    display: grid;
    grid-template-rows: minmax(65px, auto) minmax(100px, auto) 65px [footer-end];

    /*grid-template-columns: minmax(2vw,1fr) repeat(4, 1fr) minmax(2vw,1fr);*/
    grid-template-columns: 2vw repeat(4, 1fr) 2vw;
    grid-row-gap: min(4vw, 40px);
    grid-template-areas:
            ". header header header header  ."
            ". mainer mainer mainer mainer ."
            ". footer footer footer footer .";
    justify-items: center;
    overflow: auto;
}

.container-with-hero {
    display: grid;
    grid-template-rows: minmax(65px, auto) minmax(100px, auto) 65px [footer-end];

    /*grid-template-columns: minmax(2vw,1fr) repeat(4, 1fr) minmax(2vw,1fr);*/
    grid-template-columns: 2vw repeat(4, 1fr) 2vw;
    grid-row-gap: min(4vw, 40px);
    grid-template-areas:
            ". header header header header  ."
            "heroimdiv heroimdiv heroimdiv heroimdiv heroimdiv heroimdiv"
            ". mainer mainer mainer mainer ."
            ". footer footer footer footer .";
    justify-items: center;
    overflow: auto;
}

.container-element {
    max-width: 1200px;
    width: 100%;
}

.header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 100;
    /*background-color: #f7f7f7;*/
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceefb;
    box-shadow: 5px 10px 18px #f0eef9;
}

.header .header-elem {
    padding: min(1.5vw, 10px) 0;
}

.header #HeaderLogo {
    padding: 10px 10px 0 15px;
    flex-basis: 100px;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    text-align: center;
}

.header #headerLogoImage {
    height: 100px;
}

.header #HeaderLogo2 {
    padding: 10px 10px 0 10px;
    margin-right: 15px;
    flex-basis: 100px;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    text-align: center;
}

.header #headerLogoImage2 {
    height: 100px;
}



.header #HeaderTitle {
    /*text-align: center;*/
    vertical-align: center;
    padding-left: 10px;
    padding-right: 10px;

    font-family: "Lora", Georgia, Times, "Times New Roman", serif;
    text-align: center;

    font-size: min(7vw, 2em);
    font-weight: bold;

    line-height: 1;

    flex-basis: 325px;
    flex-grow: 1;
    flex-shrink: 1;
    color: #98093b;
}


.header #headerSubheading {
    color: #005999;
    font-size: large;
    padding-top: 10px;
}

.header #navbar {
    text-align: center;
    display: flex;
    justify-content: space-around;

    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 1;
}

@media screen and (max-width: 775px) {
    .header #HeaderLogo {
        opacity: 56%;
    }

    .header #HeaderTitle {
        text-align: center;
    }

    .header #navbar {
        justify-content: center;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    .person-card {
        text-align: center;
    }
    .paper-image-holder{
        flex-basis: 100% !important;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 840px) {
    .person-card {
        max-width: 100%!important;
    }
}

.header #navbar .navbar_button {
    padding: 10px min(2vw, 10px);
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    font-size: max(1em, 12px);
    color: #2c9268;
    font-weight: bold;
}

.header #navbar .navbar_button:hover {
    text-decoration: underline;
}

.header #navbar .navbar_button a {
    font-size: max(1em, 12px);
}

.header #navbar .navbar-active {
    box-shadow: 0 8px 6px -4px #c39fff;
}

.mainer {
    grid-area: mainer;
    height: fit-content;
}

.mainer .home-header {
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    /*color: rgba(0, 67, 204, 0.85);*/
    color: rgba(167, 0, 0, 0.85);
    font-size: max(16px, 1.75em);
    font-weight: bold;
    padding: 5px 10px 10px 10px;
}

.mainer .home-header2 {
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    color: rgb(75 192 137);
    font-size: max(16px, 1.25em);
    font-weight: bold;
    padding: 25px 10px 10px 10px;

}


.mainer .section-heading {
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    font-size: max(16px, 1.75em);
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
    font-weight: bold;
    /*color: #006633;*/
    color: #005999;
    margin: 0 auto;
    margin-top: 25px;

}

.mainer .section-heading2 {
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    font-size: max(16px, 1.75em);
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
    font-weight: bold;
    /*color: #006633;*/
    color: #006633;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
}


.mainer .section-subheading {
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    font-size: max(14px, 1.5em);
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(100, 130, 250, 0.12);
    font-weight: bold;
    color: #283a31;
    margin: 0 auto;
    margin-top: 15px;

}

.mainer .home-textpara {
    line-height: 1.6;
    font-family: "Open Sans", "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgb(90, 91, 106);
    font-size: max(12px, 1em);
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.mainer .home-textpara a {
    color: #33aaff;
}


.mainer #news-content ul {
    font-weight: normal;
}

.mainer #news-content li {
    padding: 10px 5px;
}

.mainer #sponsor-thanks {
    margin-top: 3px;
    padding-bottom: 24px;
    font-size: 15px;
    text-align: center;
    /*font-family: 'Lora';*/
    font-family: "Lora", Georgia, Times, "Times New Roman", serif;
    /*color: rgba(120, 5, 5, 0.85);*/
    /*color: rgb(0 89 153)*/
    color: rgb(0 33 56)
}


/*
.mainer #papers-container-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



.mainer #papers-container .home-header {
    margin: 20px 0 10px 0;
}

.mainer #papers-container .paper-card {
    box-shadow: 5px 10px 18px #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.mainer #papers-container .paper-card:hover {
    transition: transform .75s;
    transform: translateY(-5px);
}

.mainer #papers-container .paper-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mainer #papers-container .paper-card .paper-image-holder {
    flex-basis: 42px;
    height: 42px;
    line-height: 42px;
    align-items: flex-end;
    flex-grow: 0;
    text-align: center;
    margin-right: 15px;
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}

.mainer #papers-container .paper-card .paper-image-conference {
    background-color: #ffc402;
    color: whitesmoke;
}

.mainer #papers-container .paper-card .paper-image-journal {
    background-color: #02b594;
    color: whitesmoke;
}

.mainer #papers-container .paper-card .speaker-image {
    height: 120px;
    width: 120px;
    margin: 15px 15px 0 0;
    border-radius: 10%;
}

.mainer #papers-container .paper-card .paper-main-holder {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}

.mainer #papers-container .paper-card .paper-details-holder {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}

.mainer #papers-container .paper-fullpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mainer #papers-container .paper-fullpage .speaker-image-holder {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
}

.mainer #papers-container .paper-fullpage .speaker-image {
    height: 120px;
    width: 120px;
    margin: 15px 15px 0 0;
    border-radius: 50%;
}

.mainer #papers-container .paper-fullpage .paper-main-holder {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}

.mainer #papers-container .paper-fullpage .paper-details-holder {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}


.mainer #papers-container .paper-card .paper-title {
    font-weight: bold;
    color: #931616;
    line-height: 1.6;
}

.mainer #papers-container .paper-card .paper-title:hover {
    text-decoration: underline;
}

.mainer #papers-container .paper-card .paper-authors {
    font-weight: bold;
    color: #0056b1;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
}

.mainer #papers-container .paper-card .author-link-href {
    text-decoration-color: #f77e7e;
}

.mainer #papers-container .paper-card .paper-release-date {
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    padding: 0.5em 0.5em 0 0;
    line-height: 1.6;
    color: #05528b;
}

.mainer #papers-container .paper-card .paper-time:hover {
    text-decoration: underline;
}

.mainer #papers-container .paper-card .paper-publication-details {
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    color: #0d7541;
    line-height: 1.6;
    padding-left: 0.5em;
}

.mainer #papers-container .paper-card .paper-notes {
    color: #a70101a8;
}


.mainer #papers-container .paper-card .paper-abstract-short {
    color: #5f5f5f;
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid rgba(0, 26, 250, 0.12);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.75em;
}

.mainer #papers-container .paper-card .paper-abstract {
    color: #5f5f5f;
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid rgba(0, 26, 250, 0.12);
}

.mainer #papers-container .paper-card .paper-abstract-seeless {
    text-align: right;
    font-size: x-small;
    color: #c1c1c1;
}

.mainer #papers-container .paper-card .paper-abstract-seemore {
    text-align: right;
    font-size: x-small;
    color: #c1c1c1;
}

.mainer #Publications .publication-title {
    font-weight: bold;
}

.mainer #Publications .publication-title a {
    color: #005999;
}

.mainer #Publications .publication-authors {
    color: #f77e7e;
    font-weight: bold;
}

.mainer #Publications .publication-authors a {
    color: #f77e7e;
}

.mainer #Publications .publication-location {
    font-style: italic;
}

*/

.footer {
    grid-area: footer;
    border-top: 1px solid #eceefb;
    box-shadow: 5px -10px 18px #f4f4f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: self-end;
    padding: 10px 0;
    margin-top: 25px;
}

.footer {
    /*position: fixed;*/
    min-height: 25px;
    bottom: 0;
    margin-bottom: 0;
    background-color: white;
    font-size: 1.6vh;
    /*position: sticky;*/
}

.footer #copyright {
    font-family: "Alegreya SC", Georgia, Times, "Times New Roman", serif;
    color: #005999;
    text-align: center;
    font-size: 14px;
}

/*Seminar*/
#seminarHome {
    margin: 25px 0;
}

#seminarHome .paper-title {
    text-align: center;
    font-size: max(16px, 2em);
    font-weight: bold;
    font-family: Lora, Georgia, Cambria, Times, "Times New Roman", serif;
    color: rgba(158, 29, 29, 0.85);
    color: #ab3c3cd9;
}

#seminarHome .paper-authors {
    text-align: center;
    font-style: italic;
    font-family: Lora, Georgia, Cambria, Times, "Times New Roman", serif;
    color: #093598;
    border-bottom: 1px solid #ececec;
    padding: 5px 0 10px 0;
    font-weight: bold;
}

#seminarHome .paper-dateloc {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border-bottom: 1px solid #ececec;*/
}

#seminarHome .paper-dateloc {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border-bottom: 1px solid #ececec;*/
}

#seminarHome .paper-dateloc-child {
    padding: 5px 0;
    /*color: #006544;*/
    color: #00631e;
    font-family: Lora, Georgia, Cambria, Times, "Times New Roman", serif;
}

#seminarHome .paper-abstract {
    font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
    padding: 15px 0;
    text-align: justify;
    line-height: 1.6;

}


#seminarHome .paper-notes {
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid #ececec;
    font-weight: 500;
    font-size: max(11px, 0.9em);
    color: #a2a2a2;
    font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
}

#seminarHome .paper-paper {
    padding-top: 5px;
    font-weight: 500;
    font-size: max(11px, 0.9em);
    font-style: italic;
    color: #a2a2a2;
    font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
}

#seminarHome .paper-recording {
    padding-top: 5px;
    font-weight: 500;
    font-size: max(11px, 0.9em);
    font-style: italic;
    color: #a2a2a2;
    font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
}

.mainer .flexHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    row-gap: 10px;
    column-gap: 50px;
    margin-top: 15px;
    width: 100%;
}


.mainer .person-card {
    padding: 10px 20px;
    box-shadow: 5px 10px 18px #f4f4f4;
    border-radius: 5px;
    display: flex;
    flex-basis: 330px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    /*max-width: 100%;*/
    min-width: 0;
    overflow: hidden;
    border-radius: 20px;
    max-width: calc(50% - 75px);
}


.mainer .person-card:hover {
    /*transition: transform .75s;*/
    transition: transform .75s;
    /*transform: translateY(-10px);*/
    transform: translateY(-5px);
}


.mainer .person-card .card-image-holder {
    flex-basis: 135px;
    flex-grow: 0;
    text-align: center;
    /*float: left;*/
}




.mainer .person-card .card-image {
    height: 120px;
    width: 120px;
    margin: 15px auto;
    border-radius: 25%;
}

.mainer .person-card .speaker-main-holder {
    flex-basis: 225px;
    flex-grow: 1;
    flex-shrink: 0;
    /*float: left;*/
}

.mainer .person-card .speaker-details-holder {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    /*float: left;*/
}


.mainer .person-card .card-title {
    font-weight: bold;
    /*color: #f77e7e;*/
    color: #873307;
    padding: 0;
    margin: 0;
    /*width: 300px;*/
    text-align: center;
    font-size: max(16px, 1.25em);
}

.mainer .person-card .card-content {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;

    /*font-weight: bold;*/
    color: #015050;
    padding: 0 0 0.5em 0.5em;
    /*margin: 5px auto;*/
    /*width: 250px;*/
    /*border-bottom: 1px solid rgba(0, 26, 250, 0.12);*/
}

.mainer .person-card .person-link-href {
    /*text-decoration-color: #f77e7e;*/
    text-decoration-color: #873307;
    font-size: max(14px, 1.1em);
}

.mainer .person-card .card-person-designation {
    font-weight: bolder;
    color: #2b0f49;
    padding: 0.5em 0 0 0;
    margin: 10px auto 0;
    text-align: center;
    font-size: max(14px, 1.25em);
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", Serif;
    /*border-bottom: 1px solid rgba(0, 26, 250, 0.12);*/
}

.mainer .person-card .card-description-short {
    margin-top: 0.5em;
    padding-top: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.75em;
    text-align: left;
    margin-bottom: 15px;
}

.mainer .person-card .card-description-extended {
    text-align: justify;
}

.mainer .person-card .card-description-seemore {
    text-align: right;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;

}

.mainer .person-card .card-description-seeless {
    text-align: right;
    margin: 0 5px 10px 0;
    font-weight: bold;
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
}

#load-more {
    margin: 10px auto;
    padding: 10px 20px;
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    height: 25px;
    width: 125px;
    text-align: center;
    font-size: 16px;
    color: #5195de;
    border: 2px solid #a7a7a8;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 5px 4px 12px rgba(0, 0, 0, 0.15); /* Subtle shadow effect */
}

#load-more:hover {
    background-color: rgba(207, 216, 224, 0.25); /* Blue background on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Slightly larger shadow on hover */
}

#load-more:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Focus outline */
}

.load-more-invisible {
    display: none;
}

.twitter-timeline-link {
    font-weight: bold;
    font-size: x-large;
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.twitter-timeline-frame {
    max-height: 500px;
    height: 70vh;
    overflow-y: auto;
}


/* Hero Image */
.hero-image-div {
    grid-area: heroimdiv;
}

.hero-image {
    background: url('https://www.csa.iisc.ac.in/cfe-walmart/assets/images/iisc_main_building.jpg') no-repeat center center/cover;
    width: 97vw;
    position: relative; /* If you need to position elements inside absolutely */
    height: 90vh;
    margin-top: -50px;
    overflow-y: auto;
}

/* Text inside the Hero Image */
.hero-text h1, .hero-text h2 {
     /* for better readability */
    padding: 1em;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 81%;
    max-width: min(975px,90vw);
    /*color: white;*/
    color: #ffbc33;
    /*background-color: rgba(0, 0, 0, 0.05);*/
    background-color: rgba(0, 0, 0, 0.25);
    font-family: "Vollkorn", "Times New Roman", serif;
    font-size: min(10vw, 48px);
    padding: 0;
    margin: 0 auto;
}

.hero-sub-heading {
    /*color: #d74754;*/
    /*color: #ffbc33;*/
    color: white;
    font-size: min(7vw, 36px);
}

#events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    row-gap: 10px;
    column-gap: 50px;
    margin-top: 15px;
}

.mainer #events-container .event-card {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 10px 18px #f4f4f4;
    padding: 20px;
    border-radius: 5px;

}

.mainer #events-container .event-card:hover {
    /*transition: transform .75s;*/
    transition: transform .75s;
    /*transform: translateY(-10px);*/
    transform: translateY(-5px);
}

.mainer #events-container .event-card .card-image-holder {
    flex-basis: 135px;
    flex-grow: 0;
    /*text-align: center;*/

    text-align: center;
    margin-right: 15px;
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    /*float: left;*/
}

.mainer #events-container .event-card .card-image {
    height: 150px;
    width: 150px;
    margin: 25px auto;
    border-radius: 15%;
}

.mainer #events-container .event-card .card-content {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;

    /*font-weight: bold;*/
    color: #015050;
    padding: 0 0 0.5em 0.5em;
    /*margin: 5px auto;*/
    /*width: 250px;*/
    /*border-bottom: 1px solid rgba(0, 26, 250, 0.12);*/
}

.mainer #events-container .event-card .card-title {
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    color: rgb(154, 2, 41);
    font-size: max(16px, 1.25em);
    font-weight: bold;
    padding: 25px 10px 10px 10px;
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
    width: inherit;

}

.mainer #events-container .event-card .card-link-details {
    /*text-decoration-color: #f77e7e;*/
    /*text-decoration-color: #873307;*/
    /*font-size: max(14px, 1.25em);*/
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    /*color: rgb(75 192 137);*/
    color: #2c9268;
    padding-left: 10px;
    font-weight: bold;
}

.mainer #events-container .event-card .card-link-details-href  {
    text-decoration: underline;
}

.mainer #events-container .event-card .card-description {
    color: #015050;
    padding: 15px 0 0.5em 9px;
}


/*NEWS CARDS*/
#news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    row-gap: 10px;
    column-gap: 50px;
    margin-top: 15px;
}

.mainer #news-container .news-card {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 10px 18px #f4f4f4;
    padding: 20px;
    border-radius: 5px;

}

.mainer #news-container .news-card:hover {
    /*transition: transform .75s;*/
    transition: transform .75s;
    /*transform: translateY(-10px);*/
    transform: translateY(-5px);
}

.mainer #news-container .news-card .card-image-holder {
    flex-basis: 135px;
    flex-grow: 0;
    /*text-align: center;*/

    text-align: center;
    margin-right: 15px;
    font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    /*float: left;*/
}

.mainer #news-container .news-card .card-image {
    height: 150px;
    width: 150px;
    margin: 25px auto;
    border-radius: 15%;
}

.mainer #news-container .news-card .card-content {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;

    /*font-weight: bold;*/
    color: #015050;
    padding: 0 0 0.5em 0.5em;
    /*margin: 5px auto;*/
    /*width: 250px;*/
    /*border-bottom: 1px solid rgba(0, 26, 250, 0.12);*/
}

.mainer #news-container .news-card .card-title {
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    color: rgb(154, 2, 41);
    font-size: max(16px, 1.25em);
    font-weight: bold;
    padding: 25px 10px 10px 10px;
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
    width: inherit;

}

.mainer #news-container .news-card .card-link-details {
    /*text-decoration-color: #f77e7e;*/
    /*text-decoration-color: #873307;*/
    /*font-size: max(14px, 1.25em);*/
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
    font-family: "Vollkorn", "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    /*color: rgb(75 192 137);*/
    color: #2c9268;
    padding-left: 10px;
    font-weight: bold;
}

.mainer #news-container .news-card .card-link-details-href {
    text-decoration: underline;
}

.mainer #news-container .news-card .card-description {
    color: #015050;
    padding: 15px 0 0.5em 9px;
}

.mainer #news-container .news-card .card-person {
    font-weight: bold;
    /*color: dodgerblue;*/
    color: #005999;
    font-family: "Vollkorn", "Lora", Georgia, Times, "Times New Roman", serif;
}



/* Style the dropbtn */
.dropbtn {
    /*background-color: #4CAF50;*/
    /*color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    width: 175px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color:  #2c9268;
    color: white;
}